    <div style="padding-left: 20px;padding-right: 20px">
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li><a href="animals">Home</a></li>
                        <li><a href="cart">My Cart</a></li>
                    </ul>
                </div>
            </div>
            <h1>New Animal</h1>
            <hr />
            <form name="newAnimalForm">
                <fieldset>
                    <label for="animalName">Animal Name:</label>
                    <!--<input id="animalName" type="text" required ng-pattern="/^[a-zA-Z]*$/" ng-model="animal.name" placeholder="Animal name...(Letters only)">-->
                    <input id="animalName" type="text" only-chars="true" required ng-model="animal.name" placeholder="Animal name...(Letters only)">

                    <label for="animalDescription">Animal Description:</label>
                    <textarea id="animalDescription" type="text" ng-model="animal.description" placeholder="Describe your animal..."></textarea>

                    <label for="animalAge">Animal Age:</label>
                    <!--<input id="animalAge" type="text" required ng-pattern="/^[0-9]*$/" ng-model="animal.age" placeholder="Animal Age...(Numbers only)">-->
                    <input id="animalAge" type="text" only-numbers="true" required ng-model="animal.age" placeholder="Animal Age...(Numbers only)">

                    <label for="animalPrice">Animal Price:</label>
                    <!-- ng-pattern to validate only digits -->
                    <!--<input id="animalPrice" type="text" required ng-pattern="/^[0-9]*$/" ng-model="animal.price" placeholder="Product Price...(Numbers only)">-->
                    <input id="animalPrice" type="text" only-numbers="true" required ng-model="animal.price" placeholder="Product Price...(Numbers only)">
                    <br />
                    <label for="animalimageUrl">Animal Image:</label>
                    <input id="animalimageUrl" type="url" required ng-model="animal.imageUrl" class="input-xlarge" placeholder="Url of image...(Required)">
                </fieldset>

                <!--<img ng-src="{{animal.imageUrl}}" src=""/>-->
                <img ng-show="animal.imageUrl" ng-src="{{animal.imageUrl}}"/>
                <br />
                <br />

                <button type="submit" ng-disabled="newAnimalForm.$invalid" ng-click="saveAnimal(animal, newAnimalForm)" class="btn btn-primary">Save</button>
                <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
            </form>
        </div>
    </div>
